<ol>
  <li>
    <i><%= comment.created_at %> - </i>
    <%= comment.body %>
    <button class="btn-reply" data-id=<%= comment.id %>>Reply</button>

    <% comment.replies.each do |reply| %>
        <%= render('comments', comment: reply) %>
    <% end %>

    <div class="comment-reply" id=<%= "comment-reply-#{comment.id}" %>>
      <%= render partial: "comment_form", locals: { comment_id: comment.id } %>
    </div>

  </li>
</ol>
