<% if @topic.errors.any? %>
<h3><%= pluralize(@topic.errors.count, 'erro', plural: 'erros') %></h3>
<ul>
  <% @topic.errors.full_messages.each do |message| %>
  <li> <%= message %> </li>
  <% end %>
</ul>
<% end %>

<%= form_for @topic do |f| %>

  <h4><%= f.label :title, "Titulo" %></h4>
  <%= f.text_field :title %> <br />

  <%= f.fields_for :comments do |ff| %>
    <h4><%= ff.label :body, "Mensagem" %></h4>
    <%= ff.text_area :body %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
