<h1>Tópicos</h1>

<%= link_to "Novo Tópico", new_topic_path %>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to "#{topic.created_at} - #{topic.title}", topic_path(topic) %></li>
  <% end %>
  <br/>
  <%= paginate @topics %>
</ul>
