<%= link_to "[home]", topics_path %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render partial: 'comments', locals: { comment: @topic.comments.first } %>
