/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .comment-reply {
   display: none;
 }

 ol {
   list-style-type: none;
   counter-reset: item;
   margin: 7px;
   padding: 0;
 }

 ol > li:before {
   font-weight: bold;
 }

 ol > li {
   display: table;
   counter-increment: item;
   margin-bottom: 0.6em;
 }

 ol > li:before {
   content: counters(item, ".") ". ";
   display: table-cell;
   padding-right: 0.6em;
 }

 li ol > li {
   margin: 0;
 }

 li ol > li:before {
   content: counters(item, ".") " ";
 }
